* {
    padding: 0;
    margin: 0;
}

dialog {
    padding: auto;
    margin: auto;
    border: none;
    padding: 15px;
    border-radius: 15px;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

.add-book-form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.shelf {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin: 15px;
}

.card {
    border: 1px solid black;
    padding: 1rem;
}

.add-button {
    font-size: xx-large;
    font-family: monospace;
    font-weight: bold;
    color: white;
    background-color: black;
    border: none;
    padding: 5px;
    display: block;
    margin: 0 auto;
}

.add-button:hover {
    color: black;
    background-color: white;
}

.btns {
    display: flex;
    gap: 2ch;
}

.read, .delete {
    padding: 5px;
    border: none;
    border-radius: 5px;
}

.read {
    background-color: green;
    color: yellow;
}

.delete {
    background-color: red;
    color: white;
}

.read:hover {
    background-color: yellow;
    color: green;
}

.delete:hover {
    background-color: pink;
    color: red;
}

.add-book-form > input:user-invalid {
    border: 1px solid red;
}